/*ingredient.css*/


  .ingre_li_1 {background-image:url("../../../img/ingredient/green_tea.png");}
  .ingre_li_2 {background-image:url("../../../img/ingredient/chocolate.png");}
  .ingre_li_3 {background-image:url("../../../img/ingredient/vanilla.png");}
  .ingre_li_4 {background-image:url("../../../img/ingredient/macadamia.png");}
  .ingre_li_5 {background-image:url("../../../img/ingredient/milk.jpg");}
  .ingre_li_6 {background-image:url("../../../img/ingredient/cream.jpg");}
  .ingre_li_7 {background-image:url("../../../img/ingredient/strawberry.png");}
