@media screen and (min-width:1367px) {


  #menuBox {position:relative; height: 100%; background-size:cover;}

  #menuBox > h2 {font-size:2.5rem; color:#f9f5dc; font-weight: normal;
    margin: auto; padding-top: 5.625rem; padding-bottom: 5.625rem; width: 8.125rem; height:auto;}

  #menuBox > p {font-size: 1.625rem; color:#fff; width:50%; height: auto; margin: auto; text-align:center;}
  
  .menu_list{width: 36.5rem; height: 24.625rem; margin: auto; margin-top:5rem;}
  .menu_list > li {width: 17.25rem; height: 11rem; float: left; margin-right:2rem; margin-bottom: 2.5rem; box-sizing:border-box; border:2px solid #f9f5dc; font-size:1.875rem;}
  .menu_list > li:nth-child(2n) {margin-right: 0;}
  
  .menu_list > li:nth-child(3),
  .menu_list > li:nth-child(4) {margin-bottom: 0;}


  .menu_list > li > a {position: relative; z-index: 100; display: block; color:#f9f5dc; text-align:center; text-transform:uppercase; width: 100%; height: 100%; margin: auto; overflow: hidden; line-height:11rem;}

  .menu_list > li:nth-child(3) > a,
  .menu_list > li:nth-child(4) > a {line-height:2.5rem; box-sizing:border-box; padding-top:18%;}

  .menu_list > li > a:focus,
  .menu_list > li > a:hover {color:#444; transition:all 500ms ease;}


.menu_list > li > a:after,
.menu_list > li > a:after{content:" "; display: block; position: absolute;
  top: 0; left:0; z-index: -100;
  width: 100%; height: 100%; transform-origin:left bottom; transform:rotate(-90deg);
  background-color:#f9f5dc; transition:all 500ms ease;}

.menu_list > li > a:focus:after,
.menu_list > li > a:hover:after{ transform:rotate(0); }

/*modal area-----------------------------------------*/

.modal_box {position:absolute; z-index:1000; top:0; left:0; width: 100%; height: 100%; background-color:rgba(0,0,0,0.7); display: none;}

.inbox {position:absolute; top:50%; left:50%; margin-top:-25rem; margin-left:-43.75rem; padding:3rem; box-sizing:border-box; width:87.5rem; height:50rem; background-color:#fff;}
.inbox > h3 {width: 6.25rem; height: 1.5625rem; text-transform:uppercase; margin-bottom:3.125rem; font-size:1.875rem; font-weight:normal; color:#651d32;}

.m_list {width: 100%; height: 90%;}
.m_list > li {float: left; width: 21.875rem; height: 15.625rem; margin-right:9%; margin-bottom:7%; background-size:100%; background-position:center; background-repeat:no-repeat;}

.m_list > li:nth-child(3n) {margin-right:0;}

.cancel {position:absolute; top: 1.25rem; right: 1.25rem; width: 2.5rem; height: 2.5rem; font-size:1.125rem;}

.m_li_1 {background-image:url("../../../img/menu/paradise.jpg");}
.m_li_2 {background-image:url("../../../img/menu/banana_split.jpg");}
.m_li_3 {background-image:url("../../../img/menu/blueberry_yoghurt.jpg");}
.m_li_4 {background-image:url("../../../img/menu/waffle_dream.jpg");}
.m_li_5 {background-image:url("../../../img/menu/sweet_delight.jpg");}
.m_li_6 {background-image:url("../../../img/menu/banana_pancake.jpg");}

} 