@media screen and (min-width:769px) and (max-width:1366px) {

 #footBox {height:300px; position:relative;}

.company_info {margin-top:50px; margin-left:50px; width:70%; height:40px;}
.company_info > li {width: auto; height: auto; float: left; margin-right: 10%;}
.company_info > li > a {color:#fff; font-size:18px;}

.facebook {width:40px; height:40px; position:absolute; top:40px; right:50px; background-image:url("../../../img/svg/facebook.svg"); background-size:contain; background-position:center;}


  
.c_address {font-style: normal; color:#fff; font-size:18px; margin-left:50px; margin-top: 50px; width:80%; height: auto;}
.c_address > ul {width: 100%; height: auto;}
.c_address > ul > li {width: 100%; height: auto; margin-bottom:1%;}
  
.copyright {width:70%; height: auto; color:#fff; text-transform:uppercase; margin-left:50px;}

}