@media screen and (min-width:769px) and (max-width:1366px) {

 #footBox {height:18.75rem; position:relative;}

.company_info {margin-top:3.125rem; margin-left:3.125rem; width:70%; height:2.5rem;}
.company_info > li {width: auto; height: auto; float: left; margin-right: 10%;}
.company_info > li > a {color:#fff; font-size:1.125rem;}

.facebook {width:2.5rem; height:2.5rem; position:absolute; top:2.5rem; right:3.125rem; background-image:url("../../../img/svg/facebook.svg"); background-size:contain; background-position:center;}


  
.c_address {font-style: normal; color:#fff; font-size:1.125rem; margin-left:3.125rem; margin-top: 3.125rem; width:80%; height: auto;}
.c_address > ul {width: 100%; height: auto;}
.c_address > ul > li {width: 100%; height: auto; margin-bottom:1%;}
  
.copyright {width:70%; height: auto; color:#fff; text-transform:uppercase; margin-left:3.125rem;}

}