@media screen and (min-width:481px) and (max-width:768px) {

 #footBox {height:50px; position:relative;}
.company_info {display: none;}
.c_address {display: none;}
.copyright {height:100%; margin-top: 10px; margin-left:20px; color:#fff;}

}