@media screen and (min-width:1367px) {

  #introBox, #introBox_2 {height: 100%; background-size:cover;}


  #introBox > h2,
  #introBox_2 > h2 {font-size:2.5rem; color:#651d32;
  position:relative; }
  
  #introBox > h2 {width:15.625rem; height:6.25rem; top:20%; left:20%;}
  #introBox_2 > h2 {width:17.5rem; height:9.375rem; top:28%; left:55%;
    color:#f9f5dc;}
  
  #introBox > h2:after,
  #introBox_2 > h2:after{content:" "; display: block; 
  position:absolute; left:0; bottom:0; width: 9.375rem;
  height:0.3125rem; background-color:#651d32;}

  #introBox_2 > h2:after{background-color:#f9f5dc;}


  #introBox > p, 
  #introBox_2 > p {position:absolute;  height: auto; font-size:1.625rem; line-height:2.5rem; color:#444; }

  #introBox > p {width: 25%; margin-top:15.625rem; margin-left: 20%;} 
  #introBox_2 > p {width: 30%; color:#fff; margin-top:20.625rem; margin-left:55%;}


  /*landing*/

  .box > h2, .box > p {opacity:0; transform:translateY(3rem);}
  .box > h2 {transition:all 500ms ease 400ms;}
  .box > p {transition:all 500ms ease 600ms;}

  .box > h2.land {opacity:1; transform:translateY(0); /*transition:all 600ms ease 400ms;*/}
  .box > p.land {opacity:1; transform:translateY(0); /*transition:all 600ms ease 600ms;*/}

}