@media screen and (min-width:769px) and (max-width:1366px) {

 #productsBox {background-size:auto 100%;}

  #productsBox > h2 {font-size:40px; color:#f9f5dc;
    margin: auto; padding-top: 90px; padding-bottom: 90px; width:210px; height:auto;}

  #productsBox > p {font-size: 26px; color:#fff; width:50%; height: auto; margin: auto; text-align:center;}
  
  .products_li {width: 870px; height: 400px; margin: auto; margin-top:100px;}
  
  .products_li > li {float: left; box-sizing:border-box; border:2px solid #f5f9dc;
    height: 190px;}
  .products_li > li:nth-child(3) {float: right; height: 100%;}

  .products_1, .products_5 {width: 352px;}
  .products_2, .products_4 {width: 262px;}
  .products_3 {width: 198px;}

  .products_1, .products_4 {margin-right: 28px;}
  .products_1, .products_2 {margin-bottom: 18px;}

  .products_li a {display: block; width: 100%; height:100%; color:#f9f5dc;
    font-size:40px; text-transform:uppercase; text-align:right; position:relative; box-sizing:border-box; padding:1rem;}
  .products_li a:before {content:" "; display:block; width: 90px; height: 90px; position:absolute; background-repeat:no-repeat; background-size:contain; background-position:center;}
  
  .products_1 > a {padding-top:4.5rem; padding-right:4rem;}
  .products_2 > a {padding-top:3.5rem; padding-right:2rem;}
  .products_3 > a {padding-top:13rem; text-align:center;}
  .products_4 > a {padding-top:8rem; text-align:center;}
  .products_5 > a {padding-top:2rem; padding-left:7rem; text-align:center;}


  .products_1 > a:before{top:28%; left:20%; 
    background-image:url("../../../img/products/pint.svg");}
  .products_2 > a:before{top:28%; left:10%; 
    background-image:url("../../../img/products/mini_cup.svg");}
  .products_3 > a:before{top:20%; left:28%; 
    background-image:url("../../../img/products/bar.svg");}
  .products_4 > a:before{top:15%; left:34%; 
    background-image:url("../../../img/products/crispy.svg");}
  .products_5 > a:before{bottom:12%; left:10%; 
    background-image:url("../../../img/products/multi.svg");}

}


@media screen and (min-width:769px) and (max-width:1060px) {

.products_li {width:700px; height:300px; margin: auto; margin-top:60px;}
.products_li > li {float: left; box-sizing:border-box; border:2px solid #f5f9dc;
    height: 140px;}

.products_1, .products_4 {margin-right: 20px;}

.products_1, .products_5 {width: 260px;}
.products_2, .products_4 {width: 200px;}
.products_3 {width: 200px;}


.products_li a {font-size:26px;}


.products_1 > a {padding-top:3.5rem; padding-right:3rem;}
.products_2 > a {padding-top:3rem; padding-right:1rem;}
.products_3 > a {padding-top:12rem;}
.products_4 > a {padding-top:6rem;}
.products_5 > a {padding-top:1.5rem; padding-left:6rem;}


.products_1 > a:before{top:15%; left:20%;}
.products_2 > a:before{top:15%; left:10%;}
.products_3 > a:before{top:20%; left:28%;}
.products_4 > a:before{top:12%; left:30%;}
.products_5 > a:before{bottom:12%; left:5%;}

}