@media screen and (min-width:769px) and (max-width:1366px) {

#qnaBox {height: 100%; position:relative; box-sizing:border-box; padding-top: 130px; background-size:cover;}
#qnaBox > h2 {position:absolute; top:15%; left: 40%; font-size:40px; color:#f9f5dc; font-weight: normal; width: 130px; height:44px;}

#qnaBox > p {position:absolute; top:30%; left: 40%; font-size: 26px; color:#fff; width:60%; height: auto; line-height:40px;}

.qna_li {position:absolute; top:60%; left:40%;
    width: 400px; height: 54px; margin-top:10%; color:#fff; 
    font-size:26px; text-transform:uppercase; text-align:center;
    line-height:54px;}

.contact {float: left; width: 190px; height: 100%; margin-right: 20px;
    background-color:#fff;}
.contact > a {color:#444;}


.start_up {float: left; width: 190px; height: 100%; box-sizing:border-box;
    border:2px solid #fff;}
.start_up > a {color:#fff;}

}



@media screen and (min-width:769px) and (max-width:900px) {

#qnaBox > p {top:27%;}
.qna_li {top:65%;}

}
