@media screen and (min-width:1367px) {

#headBox {width: 100%; height: 0;}

.gnb_btn {width: 3.75rem; height: 3.75rem; border-radius:100%; position:fixed; z-index:500; top:1.875rem; left:1.875rem; background-image:url("../../../img/menu_btn.png"); 
  background-size:contain; background-position:center; 
  background-repeat:no-repeat;
  transition:all 300ms ease-out;}
.gnb_btn > button {width: 100%; height: 100%;}
.gnb_btn.on {background-image:url("../../../img/menu_btn_on.png"); 
transform:scale(1);}

.gnb_wrap{position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color:#651d32; box-sizing:border-box; z-index:400;}
.gnb_menu {position:fixed; top: 0; left: 0; width: 100%; height: 100%; z-index:400; padding-top:10rem;}


.gnb_menu > li {width:18.75rem; height:3.75rem; font-size:3.125rem; text-align:center; margin: auto; margin-bottom:3%;}
.gnb_menu > li:nth-child(2) {width: 12.5rem;}
.gnb_menu > li:last-child {margin-bottom: 0; width: 12.5rem;}
.gnb_menu > li > a {display: block; position:relative;
  width: 100%; height: 100%; color:#fff;}

.gnb_menu > li > a:after {position:absolute; content:" "; display: block;
width: 0; height: 0; bottom: 0; left: 0; border-bottom:0.1875rem solid #fff;
transition:all 500ms ease;}

.gnb_menu > li > a:focus:after,
.gnb_menu > li > a:hover:after {width: 100%;}


h1 {width: 20.625rem; height: 4.375rem; background-image:url("../../../img/logo.png");
background-repeat:no-repeat; background-size:contain; background-position:center; position:absolute; top:30%; left: 50%; margin-left:-10.3125rem; z-index:300;}

#headBox > p {width:20.625rem; height:auto; font-size:2rem; color:#fff; position:absolute; top:40%; left:50%; margin-left: -10.3125rem; text-align:center; z-index:300;}

.unb {position:fixed; top:2.5rem; right:1.875rem; width: 6.25rem; height:auto; z-index:500;}
.language {float:left; width: 2.5rem; height: 2.5rem; margin-right:1.25rem; 
background-image:url("../../../img/svg/language.svg"); background-repeat:no-repeat;
background-position:center; background-size:100%;}
.online_mall {float:left; width: 2.5rem; height: 2.5rem; 
background-image:url("../../../img/svg/mall.svg"); background-repeat:no-repeat;
background-position:center; background-size:100%;}

.language > a,
.online_mall > a {width: 100%; height: 100%; display: block;}


}